{% extends 'base.html.twig' %}

{% block title %}New Point{% endblock %}

{% block body %}
    <h1>Create new Point</h1>

    {{ include('point/_form.html.twig') }}

    <a href="{{ path('app_cv_index') }}">Vous avez fini ?</a>
{% endblock %}
