{% extends 'base.html.twig' %}

{% block title %}Edit TypeDeReseau{% endblock %}

{% block body %}
    <h1>Edit TypeDeReseau</h1>

    {{ include('type_de_reseau/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_de_reseau_index') }}">back to list</a>

    {{ include('type_de_reseau/_delete_form.html.twig') }}
{% endblock %}
